NODE_ENV=production
PORT=5001

FRONTEND_URL=https://build-track-ruddy.vercel.app
CLIENT_URL=https://build-track-ruddy.vercel.app
BACKEND_URL=https://build-track.onrender.com

JWT_SECRET=q4wB88o1OfGRSki5eFcWBN4Kk9cU6v6WPWny-6KsxR2_pAAUIhRBdsyz23V6X6Az

GOOGLE_CLIENT_ID=940186722289-rdjfidn96oh5rort8km6gavr7cdpnk8p.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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


MONGO_URI=mongodb://Harshini:Harshini123@ac-xm0h0nk-shard-00-00.ehqxxl8.mongodb.net:27017,ac-xm0h0nk-shard-00-01.ehqxxl8.mongodb.net:27017,ac-xm0h0nk-shard-00-02.ehqxxl8.mongodb.net:27017/buildtrack?ssl=true&replicaSet=atlas-mzt6il-shard-0&authSource=admin&retryWrites=true&w=majority

CLOUDINARY_CLOUD_NAME=duwxvwayb
CLOUDINARY_API_KEY=865697251696613
CLOUDINARY_API_SECRET=aqH9L8FVfRZ3nw3kIpOLh9yMLUc   


AIRPAY_MERCHANT_ID=335854
AIRPAY_USERNAME=CKFzeZGut2
AIRPAY_PASSWORD=WRx4M373
AIRPAY_SECRET_KEY=30af9b1913d535990a3c39138f4353c0
AIRPAY_CLIENT_ID=e38135
AIRPAY_API_KEY=V8GqK8T6RC4ajHM8